﻿
body,
html {
	margin:0;
	padding:0;
	 font-family: MyriadProRegularIE;
}

.chatTitle
{
     font-weight:bold;
     padding-top:30px;
	 padding-right:10px;
                font-family:MyriadProRegular;
}
.logo
{
	margin-top: 15px;
	margin-left:10px;
    float:left;
}
#txtName
{
}
#ddlServices
{
	width:220px;
}
#txtInitialQuestion
{
	width:350px;
	height:90px;
}
#wrap 
{
	background:#F0F0F0;
	margin:0 auto;
	margin-top: 10px;
	width:100%;
}
#header 
{
	padding-bottom:10px;
	border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    background-color:white;
    text-align:right;
}
#header h1 
{
	padding:5px;
    margin:0;
}
#main 
{
}
#main h2
{
	font-size:20px;
}
#main p {
	padding:0 10px 0 0;
}
#infobar
{
	position: relative;
	width: 630px;
	margin: 0px auto;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	clear:both;
}
#footer 
{
	padding-top:10px;
	border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    background-color:white;
	clear:both;
}
#footer p 
{
	text-align:right;
	margin:0;
}
#StatusIcon
{
	/*for IE browsers*/
	/*width: expression(this.width > 160 ? 160: this.width);
	height: expression(this.height > 160 ? 160: this.width);*/
	width: 160px;
	height: 160px;
	/*for non-IE browsers*/
	max-width: 160px;
	max-height: 160px;
	border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
}

.errormessageline
{
	font-weight:bold;
	color:Red;
}
.statusline
{
	font-style:italic;
	color:Black;
                font-family:MyriadProRegular;
}
.statuslabel
{
	font-weight:bold;
	color:Black;
                font-family:MyriadProRegular;
}
.usermessageline
{
	font-weight:bold;
	font-style:italic;
	color:Black;
}
.clockline
{
	text-decoration:underline;
	color:Black;
	background-color:White;
                font-family:MyriadProRegular;
}

#divTwitter
{
margin:0 0 0 0;
padding:0 0 0 0;
display:inline-block;
}
#divFB
{
margin:0 0 0 3px;
padding:0 0 0 0;
display:inline-block;
position: absolute;}
#divGoogle
{
margin:0 0 0 3px;
width: 50px;
height:20px;
padding:0 0 0 0;
display:inline-block;
position:relative;
left:100px;
}