@font-face {
    font-family: 'MyriadProRegular';
    src: url('fnt/MyriadPro-Regular/myriadpro-regular.eot');
    src: url('fnt/MyriadPro-Regular/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
         url('fnt/MyriadPro-Regular/myriadpro-regular.woff') format('woff'),
         url('fnt/MyriadPro-Regular/myriadpro-regular.ttf') format('truetype'),
         url('fnt/MyriadPro-Regular/myriadpro-regular.svg#MyriadProRegular') format('svg');
}

@font-face {
    font-family: 'MyriadProItalic';
    src: url('fnt/MyriadPro-Italic/myriadpro-it.eot');
    src: url('fnt/MyriadPro-Italic/myriadpro-it.eot?#iefix') format('embedded-opentype'),
         url('fnt/MyriadPro-Italic/myriadpro-it.woff') format('woff'),
         url('fnt/MyriadPro-Italic/myriadpro-it.ttf') format('truetype'),
         url('fnt/MyriadPro-Italic/myriadpro-it.svg#MyriadProItalic') format('svg');
}

@font-face {
    font-family: 'MyriadProCondensed';
    src: url('fnt/MyriadPro-Condensed/myriadpro-cond.eot');
    src: url('fnt/MyriadPro-Condensed/myriadpro-cond.eot?#iefix') format('embedded-opentype'),
         url('fnt/MyriadPro-Condensed/myriadpro-cond.woff') format('woff'),
         url('fnt/MyriadPro-Condensed/myriadpro-cond.ttf') format('truetype'),
         url('fnt/MyriadPro-Condensed/myriadpro-cond.svg#MyriadProCondensed') format('svg');
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('fnt/MyriadPro-Bold/myriadpro-bold.eot');
    src: url('fnt/MyriadPro-Bold/myriadpro-bold.eot?#iefix') format('embedded-opentype'),
         url('fnt/MyriadPro-Bold/myriadpro-bold.woff') format('woff'),
         url('fnt/MyriadPro-Bold/myriadpro-bold.ttf') format('truetype'),
         url('fnt/MyriadPro-Bold/myriadpro-bold.svg#MyriadProBold') format('svg');
}

@font-face {
    font-family: 'MyriadProSemibold';
    src: url('fnt/MyriadPro-Semibold/myriadpro-semibold.eot');
    src: url('fnt/MyriadPro-Semibold/myriadpro-semibold.eot?#iefix') format('embedded-opentype'),
         url('fnt/MyriadPro-Semibold/myriadpro-semibold.woff') format('woff'),
         url('fnt/MyriadPro-Semibold/myriadpro-semibold.ttf') format('truetype'),
         url('fnt/MyriadPro-Semibold/myriadpro-semibold.svg#MyriadProSemibold') format('svg');
}

@font-face {
    font-family: 'MyriadProSemiboldCondensed';
    src: url('fnt/MyriadPro-SemiboldCond/myriadpro-semiboldcond.eot');
    src: url('fnt/MyriadPro-SemiboldCond/myriadpro-semiboldcond.eot?#iefix') format('embedded-opentype'),
         url('fnt/MyriadPro-SemiboldCond/myriadpro-semiboldcond.woff') format('woff'),
         url('fnt/MyriadPro-SemiboldCond/myriadpro-semiboldcond.ttf') format('truetype'),
         url('fnt/MyriadPro-SemiboldCond/myriadpro-semiboldcond.svg#MyriadProSemiboldCondensed') format('svg');
}
