*, input, td
{
    font-size:12px;
    font-weight: normal;
}

.table-baslik{
	margin:5px 0 -5px 0px;
	
	background:#9c9c9c;
	color:#333333;
	font-size:12px;
	vertical-align:middle;
	padding: 4px;
}
#ctl00_ContentPlaceHolder1_grdData
{
	margin:0px;
	width: 643px;
	text-align: left;
	border-collapse: collapse;
	border:none;
}
#ctl00_ContentPlaceHolder1_grdData th
{
	font-size: 12px;
	font-weight: bold;
	padding: 4px;
	background: #eee; 

	color: #333;
	border:0;
}

.raporth
{
	font-size: 12px;
	font-weight: bold;
	padding: 4px;
	background: #eee; 
	color: #333;
	border:0;
}

.raporth2
{
	font-size: 8px;
	font-weight: bold;
	padding: 4px;
	background: #eee; 
	color: #333;
	border:0px solid;
	font-family:Arial;
}

.anketdokum
{
	margin:0px;
	width: 98%;
	text-align: left;
	font-family:Arial, verdana;
	font-size: 13px;
	border-collapse: collapse;
	border:none;
}


.anketdokum th
{
	margin:0px;
	text-align: center;
	  color: #000;
	font-size:13px;
	font-family: Arial, Calibri;
	border-right: solid 1px #000;
}

.anketdokum td
{
	padding: 3px 3px 3px 3px ;
	color: #333;
	font-size:12px;
}

.sorualtrow, .sorualtrow td, td.sorualtrow
{ 
 
    border-bottom: solid 1px #000;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    background-color: #D9D9D9;
    color: #000;
    font-size: 12px;
    font-family: Arial, Calibri;
    font-weight: normal;
      
 }
    .sorualtrow ul li {
        font-size:10px;
        overflow:scroll;
    }

.sorurow, .sorurow td, td.sorurow, tr.sorurow
{
    border-bottom: solid 1px #000;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    background-color: #C5D9F1;
    color: #000;
    font-size: 12px;
    font-family: Arial, Calibri;
    font-weight: normal;
}

.genel_toplam td
{
    background-color: #222222;
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-family: arial, calibri;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    
}


.genel_csi td, .gozlem_satir td
{
    background-color: #222222;
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-family: arial, calibri;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    
}

table.karne
        {
            width:100%;
        }
        table.karne th, table.karne th span
        {
                background-color: #333333;
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-family: arial, calibri;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    letter-spacing: 1px;

text-align:center;
        }
        


.ust_baslik2 td
{
    background-color: #595959;
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-family: arial, calibri;
    border-top: solid 2px #fff;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    letter-spacing: 1px;
}

.kriter_baslik tr, td.kriter_baslik, .kriter_baslik, .kriter_baslik td
{
    background-color: #e0e0e0;
    font-size: 12px;
    text-align: center;
    color: #363636;
    border-bottom: solid 1px #909090;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.kriter_baslik2 tr, td.kriter_baslik2, .kriter_baslik2, .kriter_baslik2 td
{
    background-color: #e0e0e0;
    font-size: 12px;
    text-align: center;
    color: #363636;
    border-bottom: solid 1px #909090;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.kriter_secenek , .kriter_secenek td
{
    text-align: left;
    font-weight: normal;
    text-indent:0px;
    white-space: wrap;
    border-bottom: 1px solid #c0c0c0;
    
}
.yorum td
{
    background-color: #cdcdcd;
    
    text-align: left;
    font-weight:normal;
    
    border-top: solid 2px #464646;
    border-bottom: solid 5px #464646;
}


 tr.kriter_satir, tr.kriter_satir td, td.kriter_satir
{
    white-space:normal;
    text-indent:0px;
    text-align:left;
	padding-top:2px;
	padding-bottom:2px;
	font-weight: bold;
	background-color:#fefefe;
	border-bottom: 1px solid #c0c0c0;
}


.kriter_secenek td:first-child , .kriter_satir td:first-child, .yorum td:first-child
{
    text-align:center;
    vertical-align:top;
} 
.alttable
{
}
.alttable tr:nth-child(odd) td		{ background-color:#eee; }
.alttable tr:nth-child(even) td		{ background-color:#fff; }

.alttable td:first-child
{
    font-weight:bold;
}

.row1, .row1 td {

    background-color:#d9534f;
    color:#fefefe;
    border: solid 1px #d43f3a;

}