*, input, td
{
    font-size:12px;
}

.table-baslik{
	margin:5px 0 -5px 0px;
	width:600;
	background:#9c9c9c;
	color:#333333;
	font-size:15px;
	vertical-align:middle;
	padding: 4px;
}
#ctl00_ContentPlaceHolder1_grdData
{
	margin:0px;
	width: 643px;
	text-align: left;
	border-collapse: collapse;
	border:none;
}
#ctl00_ContentPlaceHolder1_grdData th
{
	font-size: 14px;
	font-weight: bold;
	padding: 4px;
	background: #eee; 
/*	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;*/
	color: #333;
	border:0;
}
#ctl00_ContentPlaceHolder1_grdData td
{
	padding: 4px 4px 4px 4px ;
	background: #fff;
	border-bottom: 1px solid #fff;
	color: #333;
	border-left:none;
	border-right:none;
	border-left:none;
	border-top: 1px solid transparent;
}
#ctl00_ContentPlaceHolder1_grdData tr:hover td
{
	background: #d6d4d4;
	color: #333;
}

#ctl00_ContentPlaceHolder1_grdData tr.total td
{
	border-top:2px solid #9c9c9c;
	padding:12px;
	background:#FFF;
	font:bolder;
}
.anketdokum
{
	margin:0px;
	width: 100%;
	text-align: left;
	font-family:Arial, verdana;
	font-size: 13px;
	border-collapse: collapse;
	border:none;
}


.anketdokum th
{
	margin:0px;
	text-align: center;
	background-color:#990000;
	  color: #fff;
	border-bottom: solid 3px #c0c0c0;
	font-size:16px;
	padding: 4px 0px 4px 10px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
}

.anketdokum td
{
	padding: 3px 3px 3px 3px ;
	background: #fff;
	border-bottom: 1px solid #ccc;
	color: #333;
	border-left:none;
	border-right:none;
	border-left:none;
	border-top: 1px solid transparent;
	font-size:13px;
}
#AnketKarti1_grdSorular
{
    width:100%;
    
}
#AnketKarti1_grdSorular th, #ctl00_ContentPlaceHolder1_grdData th
{
    background-color: #C0C0C0;
    color: #333333;
    font-weight: bold;
    font-size: 16px;
}

#AnketKarti1_grdSorular td, #AnketKarti1_grdSorular tr td
{
    
background-color: #fff;
}

.sorualtrow, .sorualtrow td, td.sorualtrows
{
    background-color: #e5e5e5;
    border-bottom: solid 1px #909090;
    border-top: solid 1px #909090;
      
}

.genel_toplam td
{
    background-color: #FF6666;
    font-size: 14px;
    text-align: center;
    color: #f0f0f0;
    font-family: verdana;
    border-bottom: solid 4px #ffffff;
    border-top: solid 4px #ffffff;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    border-bottom-color: #666666;
    border-top-color: #999999;
}


.ust_baslik td
{
    background-color: #000066;
    font-size: 15px;
    text-align: center;
    color: #fff;
    
    font-family: verdana;
    border-bottom: solid 3px #c0c0c0;
    font-weight:bold;
    padding-top:4px;
    padding-bottom:4px;
    letter-spacing: 1px;
}



td.kriter_baslik , .kriter_baslik  , .kriter_baslik td 

{
    background-color: #d6d4d4;
    font-size: 14px;
    text-align: center;
    color:#464646;
    border-bottom: solid 3px #909090;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    
}

.yorum td
{
    background-color: #C1C1FF;
    font-size: 14px;
    text-align: left;
    font-weight:bold;
    color: #000080;
    border-top: solid 2px #464646;
    border-bottom: solid 5px #464646;
}
.kriter_secenek , .kriter_secenek td
{
    text-align: right;
    font-weight: normal;
}

.skor_haric, .skor_haric td
{
    background-color: #FFFF99;
    font-weight:bold;
}

 .kriter_satir
{
    white-space:nowrap;
    text-align:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	padding-top:3px;
	padding-bottom:3px;
}


.anketkontrol
{
	margin:0px;
	width: 98%;
	text-align: left;
	font-family:Arial, verdana;
	font-size: 11px;
	border-collapse: collapse;
	border:none;
}




.anketkontrol th
{
	margin:0px;
	text-align: center;
	background-color:#e0e0e0;
	  color: #000080;
	border-bottom: solid 3px #c0c0c0;
	font-size:14px;
	padding: 2px 0px 2px 10px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
}
.anketkontrol a
{
	color: #000000;
}

.anketkontrol td
{
	padding: 2px 2px 2px 2px ;

	border-bottom: 1px solid #a0a0a0;
	
	border-left:none;
	border-right:none;
	border-left:none;
	border-top: 1px solid transparent;
	font-size:11px;
}